<div class="container-fluid request-trailer-wrapper">
<form name="request-trailer-form">
  <div class="row">
    <div class="col-md-3 color-white">
      <label for="fname">First Name</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="fname" name="firstname" placeholder="Your name">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 color-white">
      <label for="lname">Last Name</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="lname" name="lastname" placeholder="Your last name">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 color-white">
      <label for="movieName">Movie Title</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="movieName" name="movieTitle" placeholder="Enter Movie Title">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 color-white">
      <label for="requestDescription">Subject</label>
    </div>
    <div class="col-md-9">
      <textarea id="requestDescription" name="request" placeholder="Write your request" style="height:200px"></textarea>
    </div>
  </div>
  <br>
  <button class="button" id="requestTrailer">Request Trailer</button>
  <div class="row">
    <div class="col-md-12 color-white" id="result"></div>
  </div>
<form>
</div>