<div data-sly-use.pendingRequestTrailer="com.eurail.aem.moviedb.core.models.PendingRequestTrailerModel">
   <div class="container-fluid align-center padding-top-10">
	   <div class="row">
         <div class="col-md-2">
			<span class="color-white">First Name</span>
         </div>
		 <div class="col-md-2">
			<span class="color-white">Last Name</span>
         </div>
		 <div class="col-md-2">
			<span class="color-white">Movie Name</span>
         </div>
		 <div class="col-md-6">
			<span class="color-white">Request Description</span>
         </div>
      </div>
	  <hr width="100%" color="white" size="10">
      <div class="row" data-sly-list.ptrailer="${pendingRequestTrailer.requestTrailerList}">
         <div class="col-md-2">
			<p class="color-white">${ptrailer.fname}</p>
         </div>
		 <div class="col-md-2">
			<p class="color-white">${ptrailer.lname}</p>
         </div>
		 <div class="col-md-2">
			<p class="color-white">${ptrailer.movieName}</p>
         </div>
		 <div class="col-md-6">
			<p class="color-white">${ptrailer.requestDescription}</p>
         </div>
      </div>
	  <hr width="100%" color="white" size="10">
   </div>
</div>