<div class="searchbar">
	<h1 class="color-white">Search Movie Title</h1>
	<input type="text" id="searchText" placeholder="Search.." name="search2">
	<button id="searchMovie" type="button"><i class="fa fa-search"></i></button>
</div>

<sly data-sly-use.movieListData="com.eurail.aem.moviedb.core.models.MovieListModel">
	<div class="container-fluid">
      <div class="row" data-sly-list.movie="${movieListData.movieList.results}">
        <div class="col-md-3 movie-details">
        	<a href="/content/moviedb/us/en/movie-details.html?id=${movie.id}">
				<img src="${movie.image}">
	            <h6 class="color-white">${movie.title} ${movie.description}</h6>
			</a>
        </div>
	  </div>
   </div>
</sly>